.nav {
    grid-area: n;
    background-color: #a29b9d;
    padding: 20px;
    font-size: 18px;
}

.item {
    padding-bottom: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:active,
.item a:focus {
    color: #8a6284;
}

.item a:hover {
    color: #8a6284;
}

.item:last-child {
    margin-top: 30px;
}

.friendsBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.avatar img {
    width: 25px;
    border-radius: 50%;
}

