.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: #443c41;
}
.dialogs .rightMessage {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    color: red;
}

.dialogs .leftMessage {
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
}

.dialogs .dialog {
    padding: 10px;
    display: flex;
    align-items: center;

}

.dialog a {
    text-decoration: none;
}

.dialogsItems {
    border-right: #443c41 1px solid;
}

.dialogsItems a:active,
.dialogsItems a:focus {
    color: #8a6284;
}

.dialogsItems a:hover {
    color: white;
}

.dialogsItems img {
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.messages {
    margin-left: 80px;
    max-width: 500px;
    padding: 10px;
}


.messages  .message {
color: white;
}

